<!DOCTYPE html>
<h5 class="text-primary text-left pb-3">Date</h5>
<div cass="table-responsive">
    <table class="table table-striped">
        <thead>
            <th class="text-left align-middle">Event</th>
            <th class="text-center align-middle">Location</th>
            <th class="text-center align-middle">Time</th>
            <th class="text-right align-middle">Actions</th>
        </thead>

        <tbody>
            <tr>
                <td class="text-left align-middle"></td>
                <td class="text-center align-middle"></td>
                <td  class="text-center align-middle"></td>
                <td  class="text-right align-middle">
                    <button class="btn btn-primary">Distribute EcoPoints</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
