<!DOCTYPE html>
<h4 class="text-secondary pt-3"></h4>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <th class="text-left align-middle">Event</th>
            <th class="text-center align-middle">Location</th>
            <th class="text-center align-middle">Postal</th>
            <th class="text-center align-middle">Time</th>
            <th class="text-center align-middle">Redeem Code</th>
            <th class="text-right align-middle">Actions</th>
        </thead>

        <tbody>
            <tr>
                <td class="text-left align-middle"></td>
                <td class="text-center align-middle"></td>
                <td  class="text-center align-middle"></td>
                <td  class="text-center align-middle"></td>
                <td  class="text-center align-middle"></td>
                <td  class="text-right align-middle">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#distributeModal">Distribute EcoPoints</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
