<!DOCTYPE html>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-left" scope="col">
                    ID
                </th>
                <th class="text-center" scope="col">
                    Event Date
                </th>
                <th class="text-center" scope="col">
                    Event Time
                </th>
                <th class="text-center" scope="col">
                    Location
                </th>
                <th class="text-right" ascope="col">
                    Redeem Code
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-left align-middle"></td>
                <td class="text-center align-middle"></td>
                <td class="text-center align-middle"></td>
                <td class="text-center align-middle"></td>
                <td class="text-right align-middle"></td>
            </tr>
        </tbody>
    </table>
</div>

<a class="btn btn-primary btn-block btn-sm" href="./events_list">View All Events List</a>
