<!DOCTYPE html>
<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th class="text-left align-middle">Event</th>
                <td class="text-left align-middle"></td>
            </tr>
            <tr>
                <th class="text-left align-middle">Event Date</th>
                <td class="text-left align-middle"></td>
            </tr>
            <tr>
                <th class="text-left align-middle">Event Time</th>
                <td class="text-left align-middle"></td>
            </tr>
            <tr>
                <th class="text-left align-middle">EcoPoints</th>
                <td class="text-left align-middle"></td>
            </tr>
            <tr>
                <th class="text-left align-middle">Status</th>
                <td class="text-left align-middle"></td>
            </tr>
        </tbody>
    </table>
</div>
