<!DOCTYPE html>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-left" scope="col">
                    ID
                </th>
                <th class="text-center" scope="col">
                    Date
                </th>
                <th class="text-center" scope="col">
                    Quiz Name
                </th>
                <th class="text-center" scope="col">
                    EcoPoints
                </th>
                <th class="text-center" ascope="col">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-left align-middle"></td>
                <td class="text-center align-middle"></td>
                <td class="text-center align-middle"></td>
                <td class="text-center align-middle"></td>
                <td class="text-right align-middle">
                    <button class="btn btn-primary shadow" type="button" tooltip-toggle="tooltip" data-placement="left" title="View More">
                        <i class="fas fa-search"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<a class="btn btn-primary btn-block btn-sm" href="./quiz_list">View All Quiz List</a>
