<!DOCTYPE html>
<table class="table">
    <thead>
        <tr>
            <th scope="col" style="text-align: left">
                Date
            </th>
            <th scope="col" style="text-align: center">
                EcoPoints
            </th>
            <th ascope="col" style="text-align: right">
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="text-align: left">
                2 june 2018
            </td>
            <td style="text-align: center">
                300
            </td>
            <td style="text-align: right">
                <a class="px-1" tooltip-toggle="tooltip" data-placement="left" title="View More" href="./"><i class="fas fa-search"></i></a>
            </td>
        </tr>
    </tbody>
</table>

<a class="btn btn-primary btn-block btn-sm" href="./">View All History</a>
