<!DOCTYPE html>
<div class="row">
    <div class="col-12 col-md-3">
        <div class="card text-center shadow mt-4">
            <img class="pic" src="./assets/img/uploads/default.png" />

            <div class="card-body">
                <h5 class="name mb-3"></h5>
                <p class="bio text-justify"></p>

                <hr class="my-4" />

                <h6><i class="fas fa-leaf"></i> EcoPoints</h6>
                <h5 class="text-primary ecopoints"></h5>

                <hr />

                <button class="btn btn-block" type="button"></button>
            </div>
        </div>
    </div>
</div>
