/* Bounce */
@keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }

    20% {
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        transform: scale3d(0.9, 0.9, 0.9);
    }

    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        transform: scale3d(0.97, 0.97, 0.97);
    }

    to {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

.bounceIn {
    animation-duration: 0.75s;
    animation-name: bounceIn;
}

.bounceInShort {
    animation-duration: 0.55s;
    animation-name: bounceIn;
}

.bounceInShorter {
    animation-duration: 0.35s;
    animation-name: bounceIn;
}

/* Fade */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translate3d(50%, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeOutDown {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
}

@keyframes fadeOutLeft {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate3d(-50%, 0, 0);
    }
}

.fadeIn {
    animation-name: fadeIn;
}

.fadeInUp {
    animation-name: fadeInUp;
}

.fadeInRight {
    animation-name: fadeInRight;
}

.fadeOut {
    animation-name: fadeOut;
}

.fadeOutDown {
    animation-name: fadeOutDown;
}

.fadeOutLeft {
    animation-name: fadeOutLeft;
}

/* Slide */
@keyframes slideInUp {
    from {
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideOutDown {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        visibility: hidden;
        transform: translate3d(0, 100%, 0);
    }
}

.slideInUp {
    animation-name: slideInUp;
}

.slideOutDown {
    animation-name: slideOutDown;
}

/* flip */
@keyframes flipInX {
    from {
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        animation-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        animation-timing-function: ease-in;
    }

    60% {
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }

    80% {
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }

    to {
        transform: perspective(400px);
    }
}

@keyframes flipOutX {
    from {
        transform: perspective(400px);
    }

    30% {
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        opacity: 1;
    }

    to {
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        opacity: 0;
    }
}

.flipInX {
    backface-visibility: visible !important;
    animation-name: flipInX;
}

.flipOutX {
    animation-duration: 0.75s;
    animation-name: flipOutX;
    backface-visibility: visible !important;
}

/* Zoom */
@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }

    50% {
        opacity: 1;
    }
}

.zoomIn {
    animation-name: zoomIn;
}

/* Others */
@keyframes pulse {
    from {
        transform: scale3d(1, 1, 1);
    }

    50% {
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

@keyframes shake {
    from,
    to {
        transform: translate3d(0, 0, 0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translate3d(-10px, 0, 0);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translate3d(10px, 0, 0);
    }
}

@keyframes shakeSmall {
    from,
    to {
        transform: translate3d(0, 0, 0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translate3d(-2px, 0, 0);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translate3d(2px, 0, 0);
    }
}

.pulse {
    animation-name: pulse;
}

.shake {
    animation-name: shake;
}

.shakeSmall {
    animation-name: shake;
}

.fadeIn,
.fadeInUp,
.fadeInRight,
.fadeOut,
.fadeOutDown,
.fadeOutLeft,
.slideInUp,
.slideOutDown,
.flipInX,
.flipOutX,
.zoomIn,
.pulse,
.shake,
.shakeSmall {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fadeIn.short,
.fadeInUp.short,
.fadeInRight.short,
.fadeOut.short,
.fadeOutDown.short,
.fadeOutLeft.short,
.slideInUp.short,
.slideOutDown.short,
.flipInX.short,
.flipOutX.short,
.zoomIn.short,
.pulse.short,
.shake.short,
.shakeSmall.short {
    animation-duration: 0.55s;
}

.fadeIn.shorter,
.fadeInUp.shorter,
.fadeInRight.shorter,
.fadeOut.shorter,
.fadeOutDown.shorter,
.fadeOutLeft.shoter,
.slideInUp.shorter,
.slideOutDown.shorter,
.flipInX.shorter,
.flipOutX.shorter,
.zoomIn.shorter,
.pulse.shorter,
.shake.shorter,
.shakeSmall.shorter {
    animation-duration: 0.35s;
}

.fadeIn.long,
.fadeInUp.long,
.fadeInRight.long,
.fadeOut.long,
.fadeOutDown.long,
.fadeOutLeft.long,
.slideInUp.long,
.slideOutDown.long,
.flipInX.long,
.flipOutX.long,
.zoomIn.long,
.pulse.long,
.shake.long,
.shakeSmall.long {
    -webkit-animation-duration: 1.35s;
    animation-duration: 1.35s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fadeIn.longer,
.fadeInUp.longer,
.fadeInRight.longer,
.fadeOut.longer,
.fadeOutDown.longer,
.fadeOutLeft.longer,
.slideInUp.longer,
.slideOutDown.longer,
.flipInX.longer,
.flipOutX.longer,
.zoomIn.longer,
.pulse.longer,
.shake.longer,
.shakeSmall.longer {
    -webkit-animation-duration: 1.55s;
    animation-duration: 1.55s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
