body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main {
    flex: auto;
    min-height: calc(100vh - 139px);
    padding-top: calc(82px) !important;
    animation: fadeIn 1s both;
    max-width: 2560px;
}

main.home {
    margin-top: 0 !important;
    padding-top: 0 !important;
}

/* nav */
.navbar {
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.navbar .container-fluid {
    max-width: 2560px;
}

.navbar li {
    display: inline-block;
}

.navbar.bg-gradient {
    background: linear-gradient(145deg, #4db6ac, #13547a);
}

.navbar.bg-gradient .badge {
    background-color: rgba(0, 0, 0, 0.5);
}

.navbar .brand-logo {
    width: 71px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.navbar-light .brand-logo {
    background-image: url('../img/logo/ecosplash_colored.png');
}

.navbar-dark .brand-logo {
    background-image: url('../img/logo/ecosplash_white.png');
}

.navbar .nav-link {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.navbar .navbar-toggler {
    border: none;
}

@media (min-width: 768px) {
    .navbar .nav-item.active {
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .navbar-light .navbar-nav .nav-item.active {
        background-color: rgba(19, 84, 122, 0.3);
        border-radius: 4px;
    }

    .navbar-light .navbar-nav .nav-item.active .nav-link {
        color: #ffffff;
    }

    .navbar-dark .navbar-nav .nav-item.active {
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 4px;
    }
}

@media (max-width: 767.98px) {
    .navbar {
        text-align: center;
    }
}

/* nav dropdown */
#loginDropdown.dropdown-toggle:after,
#profileDropdown.dropdown-toggle:after,
#notificationDropdown .dropdown-toggle:after {
    display: none;
}

#loginDropdown + .dropdown-menu,
#profileDropdown + .dropdown-menu {
    min-width: 328px;
}

#notificationDropdown .dropdown-menu {
    min-width: 656px;
}

#notificationDropdown:hover {
    animation-name: shakeSmall;
    animation-duration: 0.8s;
}

/* dropdown menu */
.logout.dropdown-item {
    color: #dc3545;
}

.logout.dropdown-item:hover {
    color: #dc3545;
    background-color: #fae3e5;
}

/* form */
.form-group {
    position: relative;
}

.invalid-tooltip {
    width: initial !important;
    top: 0;
    right: 0;
}

.form-label-group .invalid-tooltip {
    top: initial;
}

.form-label-group > input,
.form-label-group > label {
    height: initial;
    padding: 0.75rem;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group > label {
    cursor: text;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: all 0.1s ease-in-out;
}

.form-label-group input:-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input:-moz-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: calc(0.75rem + 0.75rem * (2 / 3));
    padding-bottom: calc(0.75rem / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
    padding-top: calc(0.75rem / 3);
    padding-bottom: calc(0.75rem / 3);
    font-size: 12px;
    color: #777777;
}

/* remove number input stepper arrow */
.form-label-group input[type = 'number']::-webkit-inner-spin-button,
.form-label-group input[type = 'number']::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    -moz-appearance: textfield !important;
    margin: 0 !important;
}

/* tooltips */
.tooltip-inner {
    background-color: #13547a;
}

.tooltip.bs-tooltip-top .arrow:before,
.tooltip.bs-tooltip-auto[x-placement ^= "top"] .arrow:before {
    border-top-color: #13547a;
}

.tooltip.bs-tooltip-right .arrow:before,
.tooltip.bs-tooltip-auto[x-placement ^= "right"] .arrow:before {
    border-right-color: #13547a;
}

.tooltip.bs-tooltip-bottom .arrow:before,
.tooltip.bs-tooltip-auto[x-placement ^= "bottom"] .arrow:before {
    border-bottom-color: #13547a;
}

.tooltip.bs-tooltip-left .arrow:before,
.tooltip.bs-tooltip-auto[x-placement ^= "left"] .arrow:before {
    border-left-color: #13547a;
}

/* form tooltip */
.form-tooltip .tooltip-inner {
    font-weight: 500;
    color: #343a40;
    background-color: #ffc107;
}

.form-tooltip.bs-tooltip-top .arrow:before,
.form-tooltip.bs-tooltip-auto[x-placement ^= "top"] .arrow:before {
    border-top-color: #ffc107;
}

.form-tooltip.bs-tooltip-right .arrow:before,
.form-tooltip.bs-tooltip-auto[x-placement ^= "right"] .arrow:before {
    border-right-color: #ffc107;
}

.form-tooltip.bs-tooltip-bottom .arrow:before,
.form-tooltip.bs-tooltip-auto[x-placement ^= "bottom"] .arrow:before {
    border-bottom-color: #ffc107;
}

.form-tooltip.bs-tooltip-left .arrow:before,
.form-tooltip.bs-tooltip-auto[x-placement ^= "left"] .arrow:before {
    border-left-color: #ffc107;
}

/* success tooltip */
.success-tooltip .tooltip-inner {
    font-weight: 400;
    color: #ffffff;
    background-color: #28a745;
}

.success-tooltip.bs-tooltip-top .arrow:before,
.success-tooltip.bs-tooltip-auto[x-placement ^= "top"] .arrow:before {
    border-top-color: #28a745;
}

.success-tooltip.bs-tooltip-right .arrow:before,
.success-tooltip.bs-tooltip-auto[x-placement ^= "right"] .arrow:before {
    border-right-color: #28a745;
}

.success-tooltip.bs-tooltip-bottom .arrow:before,
.success-tooltip.bs-tooltip-auto[x-placement ^= "bottom"] .arrow:before {
    border-bottom-color: #28a745;
}

.success-tooltip.bs-tooltip-left .arrow:before,
.success-tooltip.bs-tooltip-auto[x-placement ^= "left"] .arrow:before {
    border-left-color: #28a745;
}

/* danger tooltip */
.danger-tooltip .tooltip-inner {
    font-weight: 400;
    color: #ffffff;
    background-color: #dc3545;
}

.danger-tooltip.bs-tooltip-top .arrow:before,
.danger-tooltip.bs-tooltip-auto[x-placement ^= "top"] .arrow:before {
    border-top-color: #dc3545;
}

.danger-tooltip.bs-tooltip-right .arrow:before,
.danger-tooltip.bs-tooltip-auto[x-placement ^= "right"] .arrow:before {
    border-right-color: #dc3545;
}

.danger-tooltip.bs-tooltip-bottom .arrow:before,
.danger-tooltip.bs-tooltip-auto[x-placement ^= "bottom"] .arrow:before {
    border-bottom-color: #dc3545;
}

.danger-tooltip.bs-tooltip-left .arrow:before,
.danger-tooltip.bs-tooltip-auto[x-placement ^= "left"] .arrow:before {
    border-left-color: #dc3545;
}

/* fixed action */
#fixed-action {
    z-index: 1070;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

@media (max-width: 767.98px) {
    #fixed-action .dropdown-menu {
        width: calc(2.5rem * 11 + 2px * 11 + 0.5rem * 11);
        background: transparent;
        border: none;
        box-shadow: none;
    }

    #fixed-action .dropdown-menu .btn {
        margin: 0 0.5rem 0 0;
    }

    @media (min-height: 565px) {
        #fixed-action .dropdown-menu {
            width: 3.5rem;
            min-width: 3.5rem;
            background: transparent;
            border: none;
            box-shadow: none;
        }

        #fixed-action .dropdown-menu .btn {
            margin: 0.5rem 0 0 0;
        }
    }
}

/* buttons */
.btn.btn-fab {
    border-radius: 100%;
    width: 3.5rem;
    height: 3.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
}

.btn.btn-fab-sm {
    border-radius: 100%;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.5rem;
    font-size: 0.8rem;
}

.btn.btn-gradient {
    color: #ffffff;
    border: #13547a;
    background: linear-gradient(145deg, #4db6ac, #13547a);
}

.btn.btn-gradient:hover {
    color: #ffffff;
    border: #0e3d59;
    background: linear-gradient(145deg, #409d94, #0e3d59);
}

.btn-gradient:not(:disabled):not(.disabled).active,
.btn-gradient:not(:disabled):not(.disabled):active,
.show > .btn-gradient.dropdown-toggle {
    border: #0c364e;
    background: linear-gradient(145deg, #409d94, #0e3d59);
}

/* carousel */
.carousel {
    margin: 0 -15px;
}

.carousel .carousel-item {
    height: 50vh;
    padding-top: 82px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width: 767.98px) {
    .carousel .carousel-item {
        height: 70vh;
        padding-top: 82px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}

/* footer */
footer .container-fluid {
    max-width: 2560px;
}

footer hr {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
}

footer .fbLink,
footer .twLink,
footer .inLink {
    color: #ffffff;
    text-decoration: none;
}

footer .fbLink:hover {
    color: #3b5998;
}

footer .twLink:hover {
    color: #1da1f2;
}

footer .inLink:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
    border-radius: 6px;
}

/*
Profile Section
editProfile Section
*/
section#profile .pic,
section#editProfile .pic {
    width: 150px;
    height: 150px;
    max-width: 150px;
    max-height: 150px;
    background-image: url('../img/uploads/default.png');
    background-color: #13547a;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}

section#editProfile .pic {
    cursor: pointer;
}

#uploadPhotoModal #uploadPhoto #pictureDrop {
    cursor: pointer;
}

section#editProfile .pic .small {
    top: calc(150px - 1.188rem - 0.5rem);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0 0 8px 8px;
}

/* Friends Section */
section#friendsList .pic {
    width: 100%;
    background-color: #13547a;
    border-radius: 0.25rem;
}

section#friendsList .card-footer {
    background-color: #fbfbfb;
}

@media (max-width: 767.98px) {
    section#friendsList .row.card-deck {
        margin: 0 0.25rem 0 0.25rem;
    }
}
