<!DOCTYPE html>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-left align-middle">Month</th>
                <th class="text-center align-middle">Usage (KW/H)</th>
                <th class="text-center align-middle">Price</th>
                <th class="text-right align-middle">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-left align-middle"></td>
                <td class="text-center align-middle"></td>
                <td  class="text-center align-middle"></td>
                <td  class="text-right align-middle">
                    <button  class="btn btn-danger" tooltip-toggle="danger-tooltip" data-placement="left" title="Delete">
                        <i class="far fa-trash-alt"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
