<!DOCTYPE html>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-left">
                    Item
                </th>
                <th class="text-center">
                    EcoPoints
                </th>
                <th class="text-right">
                    Stock
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
