<!DOCTYPE html>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-left align-middle">
                    Item
                </th>
                <th class="text-center align-middle">
                    EcoPoints
                </th>
                <th class="text-right align-middle">
                    Stock
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-left align-middle"></td>
                <td class="text-center align-middle"></td>
                <td class="text-right align-middle"></td>
            </tr>
        </tbody>
    </table>
</div>
