<!DOCTYPE html>
<h4 class="text-secondary pt-3"></h4>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <th class="text-left align-middle">Quiz</th>
            <th class="text-center align-middle">No. Of Question</th>
            <th class="text-center align-middle">Max EcoPoints</th>
            <th class="text-right align-middle">Actions</th>
        </thead>

        <tbody>
            <tr>
                <td class="text-left align-middle"></td>
                <td class="text-center align-middle"></td>
                <td  class="text-center align-middle"></td>
                <td  class="text-right align-middle">
                    <button class="btn btn-primary" tooltip-toggle="tooltip" data-placement="left" title="View More">
                        <i class="fas fa-search"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
