<!DOCTYPE html>
<div class="table-responsive">
    <table class="table table-bordered">
        <tbody>
            <tr class="questionRow" style="background-color: #ecf6fc;">
                <th class="text-left align-middle" colspan="4"></th>
            </tr>
            <tr class="optionRow">
                <td class="answer text-center align-middle" width="49"></td>
                <td class="option text-left align-middle"></td>
                <td class="answer text-center align-middle" width="49"></td>
                <td class="option text-left align-middle"></td>
            </tr>
        </tbody>
    </table>
</div>
