{% extends "base.html.twig" %}
{% set title = 'Display Code' %}
{% set bodyBG = './assets/img/background/eventcode.jpg' %}
{% set mainType = 'vCenter' %}

{% block main %}
<section id="redeemCode">
    <div class="row">
        <div class="col-12 col-md-6 mx-auto">
            <div class="card shadow">
                <div class="card-body text-center">
                    <h1 class="pb-3"></h1>
                    <img class="w-100" src="" />
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block afterMain %}
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="./assets/js/displayCode.js"></script>
{% endblock %}
