{% extends "base.html.twig" %}
{% set title = 'Edit Profile' %}

{% block main %}
    <section id="editProfile">
        <form id="editProfileForm" method="post" novalidate>
            <div id="action-btn" class="text-right">
                <button class="btn btn-success mr-2" type="submit">
                    <span id="action-text">Save</span>
                    <span id="loading-text" class="fadeIn d-none">in progress <i class="fas fa-cog fa-spin"></i></span>
                </button>
                <button id="cancel" class="btn btn-danger" type="button" data-toggle="modal" data-target="#cancelModal">Cancel</button>
            </div>

            <div id="basicProfile" class="card shadow mt-4">
                <div class="card-body">
                    <div class="pic mx-auto shadow" data-toggle="modal" data-target="#uploadPhotoModal">
                        <div class="small text-center text-white position-relative py-1 d-block d-md-none d-xl-none d-lg-none">
                            Change Profile Picture
                        </div>
                    </div>

                    <div id="name" class="form-group mt-5">
                        <label for="e-name">Name <span class="small">(Optional)</span></label>
                        <input id="e-name" class="form-control" type="text" maxlength="100" placeholder="Name" name="name" />
                    </div>

                    <hr />

                    <div id="bio" class="form-group">
                        <label for="e-bio">Bio <span class="small">(Optional)</span></label>
                        <textarea id="e-bio" class="form-control" type="text" rows="5" maxlength="300" placeholder="Introduce yourself to the world." name="bio"></textarea>
                        <div class="feedback invalid-feedback fadeIn"></div>

                        <div class="custom-control custom-checkbox">
                            <input id="emptyBio" class="custom-control-input" type="checkbox" name="emptyBio">
                            <label class="custom-control-label" for="emptyBio">
                                <small>Empty bio? (Check this if you want to empty your bio)</small>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div id="accountDetails" class="card shadow mt-4">
                <div class="card-body">
                    <h4 class="pb-4">Account Details</h4>

                    <div id="email" class="form-group">
                        <label for="e-email">Email <span class="small">(Optional)</span></label>
                        <input id="e-email" class="form-control" type="email" maxlength="255" placeholder="Email" name="email" />
                        <div class="feedback invalid-feedback fadeIn"></div>
                    </div>

                    <hr />

                    <div id="password" class="form-group">
                        <label for="e-newPass">Change Password <span class="small">(Optional)</span></label>
                        <input id="e-newPass" class="form-control" type="password" maxlength="255" placeholder="New Password" tooltip-toggle="form-wide-tooltip" data-placement="right" title="More then 5 characters" name="password" />
                        <div class="feedback invalid-feedback fadeIn"></div>
                    </div>

                    <div id="cfmPassword" class="form-group">
                        <label for="e-cfmPass">Confirm New Password</label>
                        <input id="e-cfmPass" class="form-control" type="password" maxlength="255" placeholder="Confirm New Password" name="cfmPassword" />
                        <div class="feedback invalid-feedback fadeIn"></div>
                    </div>
                </div>
            </div>
        </form>
    </section>
{% endblock %}

{% block afterMain %}
<div id="uploadPhotoModal" class="modal pulse" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Upload Profile Picture</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="far fa-times"></i>
                </button>
            </div>

            <div id="uploadPhoto" class="modal-body">
                <p class="small text-center text-muted">
                    It is recommended to upload a square image at 150 x 150.<br />
                    You are allowed to upload a file size of up to 2mb.<br />
                    Only .png, .jpg and .jpeg file types are allowed.
                </p>
                <div id="pictureDrop" class="mb-4 d-flex flex-column justify-content-center" style="width: 100%; min-height: 300px; border: 4px dashed rgba(19, 84, 122, 0.9); border-radius: 10px;">
                    <i class="fas fa-upload fa-8x text-muted mx-auto mb-4 "></i>
                    <div class="mx-auto">
                        <h5 id="action-text" class="text-center text-muted">
                            <span class="action">Drag</span> picture here or click to upload
                        </h5>

                        <h5 id="loading-text" class="text-center text-muted d-none">
                            Uploading picture <i class="fas fa-cog fa-spin"></i>
                        </h5>
                    </div>
                </div>

                <input type="file" class="d-none" accept="image/png, image/jpg, image/jpeg" name="upload" />
                <div class="feedback invalid-feedback bounceIn short small text-danger text-center d-none"></div>
            </div>

            <div class="modal-footer">
                <button type="reset" class="btn btn-outline-danger btn-block" data-dismiss="modal">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>

<div id="cancelModal" class="modal pulse" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cancel Profile Changes?</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="far fa-times"></i>
                </button>
            </div>

            <div class="modal-body">
                Are you sure you want to cancel your profile changes without saving?
            </div>

            <div class="modal-footer">
                <a class="btn btn-success w-100" href="./profile">Yes</a>
                <button type="button" class="btn btn-outline-danger w-100" data-dismiss="modal">
                    No
                </button>
            </div>
        </div>
    </div>
</div>

<div id="formfeedback invalid-feedbackModal" class="modal pulse" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="far fa-times"></i>
                </button>
            </div>

            <div class="modal-body"></div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger btn-block" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="./assets/js/editProfile.js"></script>
{% endblock %}
