{% extends "base.html.twig" %}
{% set title = 'Events' %}

{% block main %}
<section id="events">
    <p class="small text-danger text-center">
        Each event participation will award you with 100 EcoPoints.
    </p>

    <div class="card shadow-lg mb-4">
        <div class="card-body">
            <h4 class="text-center pb-4">Upcoming Events</h4>

            <div class="eventsContent">
                <h6 class="text-muted text-center">Whoops! It seems that there isn't any upcoming events.</h6>
            </div>
        </div>
    </div>

    <p class="font-weight-bold small text-center text-muted">
        End of Upcoming Events
    </p>
</section>
{% endblock %}

{% block afterMain %}
<div id="successModal" class="modal pulse" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Event Joined Successful</h5>

                <button type="button" class="close" data-dismiss="modal">
                    <i class="far fa-times"></i>
                </button>
            </div>

            <div class="modal-body">
                You have successfuly joined the event.
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger btn-block" data-dismiss="modal">Dismiss</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="./assets/js/events.js"></script>
{% endblock %}
