{% extends 'base.html.twig' %}
{% set title = 'Events List' %}

{% block main %}
<div class="card shadow">
    <div class="card-body text-center">
        <h4 class="pb-4">Events List</h4>
        <button class="btn btn-outline-success btn-block">Add New Event</button>
        <hr />
    </div>
</div>
{% endblock %}
{% block afterMain %}{% endblock %}
{% block sc %}{% endblock %}
