{% extends "base.html.twig" %}
{% set title = 'Forgot Password' %}
{% set bodyBG = './assets/img/background/forgotpassword.jpg' %}
{% set mainType = 'vCenter' %}

{% block main %}
<div class="col-12 col-md-6 mx-auto">
    <div class="card shadow-lg">
        <div class="card-body">
            <form id="fpass_1" method="post" novalidate>
                <h5 class="card-title text-center">Forgot Password</h5>
                <p class="card-text text-center">
                    Enter your email address to change your password.
                </p>

                <div id="email" class="form-label-group">
                    <input id="f-email" class="form-control" type="email" placeholder="Email" name="email" />
                    <label for="f-email">Email</label>
                    <div class="feedback fadeIn"></div>
                </div>

                <button type="submit" class="btn btn-primary btn-block">
                    <span class="next-text fadeIn">Next</span>
                    <span class="load-text fadeIn d-none">Loading <i class="fas fa-cog fa-spin"></i></span>
                </button>
            </form>

            <form id="fpass_2" class="d-none" method="post" novalidate>
                <h5 class="card-title text-center">Enter Generated Code</h5>
                <p class="card-text text-center">
                    We have send you an email with a generated code. Please check your email and enter the generated code.
                </p>

                <div id="fcode" class="form-label-group">
                    <input id="f-code" class="form-control" type="text" placeholder="Generated Code" name="fcode" />
                    <label for="f-code">Generated Code</label>
                    <div class="feedback fadeIn"></div>
                </div>

                <button type="submit" class="btn btn-primary btn-block">Next</button>
            </form>

            <form id="fpass_3" class="d-none" method="post" novalidate>
                <h5 class="card-title text-center">New Password</h5>
                <p class="card-text text-center">
                    Enter a new password for your account.
                </p>

                <div id="password" class="form-label-group">
                    <input id="f-password" class="form-control" type="password" placeholder="New Password" tooltip-toggle="form-tooltip" data-placement="right" title="More then 5 characters" name="password" />
                    <label for="f-password">New Password</label>
                    <div class="feedback fadeIn"></div>
                </div>

                <div id="cfmPassword" class="form-label-group">
                    <input id="f-cPassword" class="form-control" type="password" placeholder="New Password" name="cfmPassword" />
                    <label for="f-cPassword">Confirm Password</label>
                    <div class="feedback fadeIn"></div>
                </div>

                <button type="submit" class="btn btn-danger btn-block">
                    <span class="change-pass-text fadeIn">Change Password</span>
                    <span class="load-text fadeIn d-none">Loading <i class="fas fa-cog fa-spin"></i></span>
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block afterMain %}
<div id="fpassModal" class="modal pulse" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Password Changed Successfully</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="far fa-times"></i>
                </button>
            </div>

            <div class="modal-body">
                You have changed your password successfuly, please login with your new password.
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger btn-block" data-dismiss="modal">Dismiss</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
