{% extends 'base.html.twig' %}
{% set title = 'Daily Quiz' %}
{% set bodyBG = './assets/img/background/quiz.jpg' %}
{% set mainType = 'vCenter' %}

{% block main %}
<section id="quiz">
<div class="row">
    <div class="col-12 col-md-6 mx-auto">
        <form id="quizForm" novalidate>
            <div id="start" class="card shadow">
                <div class="card-body">
                    <h4 class="pb-4 text-center">Daily Quiz</h4>
                    <h6 id="quizName" class="text-center text-primary pb-3"></h6>

                    <p id="description" class="text-center">
                        It appears that you are not logged in. Please sign up an account or login to attempt this quiz and get rewarded with EcoPoints to redeem for rewards.
                    </p>

                    <h6 class="text-right">
                        By <span id="uName" class="text-primary"></span>
                    </h6>
                </div>

                <div class="card-footer">
                    <a class="btn btn-success btn-block" href="./signup">
                        Sign Up
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
</section>
{% endblock %}

{% block afterMain %}
<div id="successModal" class="modal pulse" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Quiz Completed</h5>

                <button type="button" class="close" data-dismiss="modal">
                    <i class="far fa-times"></i>
                </button>
            </div>

            <div class="modal-body text-center">
                <h5 class="text-center">Score</h5>
                <div class="progress" style="height: 25px;">
                    <div class="progress-bar" role="progressbar"></div>
                </div>

                <h5 class="text-center pt-5">EcoPoints Earned</h5>
                <div class="progress" style="height: 25px;">
                    <div class="progress-bar" role="progressbar"></div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger btn-block" data-dismiss="modal">Dismiss</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="./assets/js/quiz.js"></script>
{% endblock %}
