{% extends 'base.html.twig' %}
{% set title = 'Quiz List' %}

{% block main %}
<section id="quizList">
    <div class="card shadow">
        
    </div>
</section>
{% endblock %}

{% block afterMain %}
{% endblock %}

{% block scripts %}
{% endblock %}
