{% extends "base.html.twig" %}
{% set title = 'Edit Profile' %}

{% block main %}
<section id="redeem">
    <div class="row">
        <div class="col-12 order-first col-md-6 order-md-last">
            <div class="card shadow mt-4">
                <div class="card-body">
                    <h4 class="text-center pb-4">Redeem EcoPoints</h4>
                    <div class="row">
                        <div class="col-5">
                            <h6>EcoPoints Available</h6>
                            <h5 id="ecopoints" class="text-primary">0</h5>
                        </div>

                        <div class="col-7 text-right">
                            <button id="addItem" class="btn btn-primary" type="button">Add More Item <i class="fas fa-cart-plus ml-1"></i></button>
                        </div>
                    </div>

                    <hr />

                    <form id="redeemForm" method="post" novalidate>
                        <div id="formGrp">
                            <div id="item" class="form-group item">
                                <select id="items" class="custom-select" name="item[rid][]">
                                    <option class="default" value="none" selected disabled>
                                        Select Item
                                    </option>
                                </select>
                                <div class="feedback text-danger fadeIn"></div>
                            </div>

                            <div id="qty" class="form-label-group qty">
                                <input id="quantity" class="form-control" type="number" min="0" step="1" placeholder="Quantity" name="item[qty][]" />
                                <label for="quantity">Quantity</label>
                                <div class="feedback text-danger fadeIn"></div>
                            </div>
                        </div>

                        <div class="feedback fadeIn"></div>
                        <button class="btn btn-success btn-block" type="submit">
                            <span id="action-text" class="fadeIn">Redeem</span>
                            <span id="loading-text" class="fadeIn d-none">Loading <i class="fas fa-cog fa-spin"></i></span>
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <div id="itemsList" class="col-12 order-last col-md-6 order-md-first">
            <div class="card shadow mt-4">
                <div class="card-body">
                    <h4 class="text-center pb-4">Items List</h4>

                    <div id="items-table">
                        <h6 class="text-muted text-center">
                            Whoops! It seems that there isn't any items.
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block afterMain %}
<div id="redeemSuccessModal" class="modal pulse" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Order #<span id="oid"></span> Redeem Successful</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="far fa-times"></i>
                </button>
            </div>

            <div class="modal-body">
                You have redeemed your items successfully, and you have spend a total of <span id="spendEcoPoints" class="h6 text-primary"></span> EcoPoints.
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger btn-block" data-dismiss="modal">
                    Dismiss
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="./assets/js/redeem.js"></script>
{% endblock %}
