<!DOCTYPE html>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-left" scope="col">
                    Item
                </th>
                <th class="text-center" scope="col">
                    Quantity
                </th>
                <th class="text-right" ascope="col">
                    EcoPoints
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-left align-middle"></td>
                <td class="text-center align-middle"></td>
                <td class="text-right align-middle"></td>
            </tr>
        </tbody>
    </table>

    <hr />

    <h6>Total EcoPoints: <span id="total" class="text-primary">300</span></h6>
</div>
