<!DOCTYPE html>
<form id="attendanceForm" method="post" novalidate>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-left align-middle">
                        Name
                    </th>
                    <th class="text-center align-middle">
                        Email
                    </th>
                    <th class="text-right align-middle">
                        Attendance
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-left align-middle"></td>
                    <td class="text-center align-middle"></td>
                    <td class="text-right align-middle">
                        <div class="form-check">
                            <input class="form-check-input position-static" type="checkbox" value="" name="status[]">
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <button type="submit" class="btn btn-success btn-block">Distribute EcoPoints</button>
</form>
