<!DOCTYPE html>
<div id="mProfileDropdown" class="dropdown d-block d-md-none d-lg-none d-xl-none">
    <button id="profileAction" class="btn btn-gradient btn-fab shadow-lg" type="button" data-toggle="dropdown" tooltip-toggle="fab-tooltip" data-placement="left" title="Profile Action">
        <i class="far fa-user-circle fa-lg bounceIn"></i>
        <i class="fas fa-times fa-lg bounceIn d-none"></i>
    </button>
    <div class="dropdown-menu text-center">
        <button class="btn btn-danger btn-fab-sm shadow logout" type="button" tooltip-toggle="fab-tooltip" data-placement="left" title="Logout">
            <i class="fas fa-power-off fa-lg"></i>
        </button>
        <a class="btn btn-primary btn-fab-sm shadow" href="./quiz_list" tooltip-toggle="fab-tooltip" data-placement="left" title="Quiz Lists">
            <i class="fas fa-pencil fa-lg"></i>
        </a>
        <a class="btn btn-primary btn-fab-sm shadow" href="./events_list" tooltip-toggle="fab-tooltip" data-placement="left" title="Events Lists">
            <i class="fas fa-calendar-check fa-lg"></i>
        </a>
        <a class="btn btn-primary btn-fab-sm shadow" href="./utilities" tooltip-toggle="fab-tooltip" data-placement="left" title="Utilities Ususage">
            <i class="fas fa-calculator fa-lg"></i>
        </a>
        <a class="btn btn-primary btn-fab-sm shadow" href="./friends" tooltip-toggle="fab-tooltip" data-placement="left" title="Friends">
            <i class="fas fa-users fa-lg"></i>
        </a>
        <a class="btn btn-primary btn-fab-sm shadow" tooltip-toggle="fab-tooltip" data-placement="left" href="./profile" title="Profile">
            <i class="fas fa-user fa-lg"></i>
        </a>
        <button class="notifications btn btn-primary btn-fab-sm shadow" type="button" tooltip-toggle="fab-tooltip" data-placement="left" title="Notifications">
            <i class="fas fa-bell fa-lg"></i>
        </button>
    </div>
</div>
