<!DOCTYPE html>
<div id="mProfileDropdown" class="dropdown d-block d-md-none d-lg-none d-xl-none">
    <button id="profileAction" class="btn btn-gradient btn-fab shadow-lg" type="button" data-toggle="dropdown" tooltip-toggle="fab-tooltip" data-placement="left" title="Profile Action">
        <i class="far fa-user-circle fa-lg bounceIn"></i>
        <i class="fas fa-times fa-lg bounceIn d-none"></i>
    </button>
    <div class="dropdown-menu text-center">
        <button class="btn btn-danger btn-fab-sm shadow logout" type="button" tooltip-toggle="fab-tooltip" data-placement="left" title="Logout">
            <i class="fas fa-power-off fa-lg"></i>
        </button>
        <button class="btn btn-secondary btn-fab-sm shadow ecopoints" type="button" tooltip-toggle="fab-tooltip" data-placement="left" title="0
         EcoPoints">
            <i class="fas fa-leaf fa-lg"></i>
        </button>
        <a class="btn btn-primary btn-fab-sm shadow" href="./redeem" tooltip-toggle="fab-tooltip" data-placement="left" title="Redeem EcoPoints">
            <i class="fas fa-gift fa-lg"></i>
        </a>
        <a class="btn btn-primary btn-fab-sm shadow" href="./redeem_code" tooltip-toggle="fab-tooltip" data-placement="left" title="Redeem Event EcoPoints">
            <i class="fas fa-calendar-check fa-lg"></i>
        </a>
        <a class="btn btn-primary btn-fab-sm shadow" href="./redeemed_histories" tooltip-toggle="fab-tooltip" data-placement="left" title="Redeemed Histories">
            <i class="fas fa-history fa-lg"></i>
        </a>
        <a class="btn btn-primary btn-fab-sm shadow" href="./event_histories" tooltip-toggle="fab-tooltip" data-placement="left" title="Event Histories">
            <i class="fas fa-calendar-alt fa-lg"></i>
        </a>
        <a class="btn btn-primary btn-fab-sm shadow" href="./utilities" tooltip-toggle="fab-tooltip" data-placement="left" title="Utilities Ususage">
            <i class="fas fa-calculator fa-lg"></i>
        </a>
        <a class="btn btn-primary btn-fab-sm shadow" href="./friends" tooltip-toggle="fab-tooltip" data-placement="left" title="Friends">
            <i class="fas fa-users fa-lg"></i>
        </a>
        <a class="btn btn-primary btn-fab-sm shadow" tooltip-toggle="fab-tooltip" data-placement="left" href="./profile" title="Profile">
            <i class="fas fa-user fa-lg"></i>
        </a>
        <button class="btn btn-primary btn-fab-sm shadow notifications" type="button" tooltip-toggle="fab-tooltip" data-placement="left" title="Notifications">
            <i class="fas fa-bell fa-lg"></i>
        </button>
    </div>
</div>
